/* Sections font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

html {
  height: calc(100% - 72px);

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f8f8;
}

#root {
  height: 100%;
}

.header {
  background-color: #2e394d;
}

.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family:'Montserrat', sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

#sidebar {
  background-color: #82889b;
  height: 100%;
  display: inline-block;
  float: none !important;
}

#sidebar li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-image {
  max-width: 150px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left:1em
}

.search-label {
  display: block;
}

#table-campaigns .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#table-campaigns .dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: '';
}
